<main class="main_carts">
    {{#if cart._id}}
    {{#if cart.products}}
    <ul>
        {{#each cart.products}}
        <li>
            <h3>{{this.product.title}}</h3>
            {{!-- <p>Description: {{this.product.description}}</p> --}}
            <p>${{this.product.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <button class="remove-from-cart-button" data-product-id="{{this.product._id}}">Eliminar</button>
        </li>
        {{/each}}
    </ul>
    {{!-- <button>Vaciar Carrito</button> --}}
    <a href="/api/carts/{{cart._id}}/purchase">Finalizar compra</a>
    {{else}}
    <section class="no-products-container">
        <p>El carrito está vacio.</p>
        <a href="/view/products">Ir a comprar</a>
    </section>
    {{/if}}
    {{else}}
    <p>Por favor, inicia sesión para agregar productos al carrito.</p>
    {{/if}}
</main>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const removeFromCartButtons = document.querySelectorAll(".remove-from-cart-button");
        const clearCartButton = document.querySelector(".clear-cart-button");

        // Evento para eliminar un producto individualmente
        removeFromCartButtons.forEach((button) => {
            button.addEventListener("click", async () => {
                const productId = button.getAttribute("data-product-id");
                const cartId = "{{cart._id}}"

                try {
                    const response = await fetch(
                        `http://localhost:8080/api/carts/${cartId}/products/${productId}`,
                        {
                            method: "delete",
                        }
                    );
                    if (response.status === 200) {
                        console.log("Producto eliminado del carrito");
                        location.reload();
                    } else {
                        console.log("Error al eliminar el producto del carrito");
                        alert("Error al eliminar el producto del carrito");
                    }
                } catch (error) {
                    console.error(error);
                    alert("Error al eliminar el producto del carrito");
                }
            });
        });

    });

</script>