<main class="main_products">
    <section class="greeting">
        {{#if user.role}}
        <h1>Hola, {{user.name}} {{user.first_name}} {{user.last_name}} <span>({{user.role}})</span></h1>
        {{/if}}

    </section>
    <h2>Lista de Productos</h2>
    <section class="products_container">
        {{#each products}}
        <div class="product">
            <h3>{{this.title}}</h3>
            <span>${{this.price}}</span>
            <p>{{this.description}}</p>
            <h5>Disponible {{stock}}</h5>
            <button class="add-to-cart-button" data-product-id="{{_id}}" data-cart-id="{{cartId}}"
                data-stock="{{stock}}">
                Agregar al Carrito</button>
        </div>
        {{/each}}
    </section>
    <section class="pagination_container">
        <div class="pagination">
            <div class="prev_page">
                {{#if pagination.hasPrevPage}}
                <a class="pgnt_btn" href="/view/products?page={{pagination.prevPage}}">Anterior</a>
                {{/if}}
            </div>
            <div class="next_page">
                {{#if pagination.hasNextPage}}
                <a class="pgnt_btn" href="/view/products?page={{pagination.nextPage}}">Siguiente</a>
                {{/if}}
            </div>
        </div>
    </section>
</main>
{{!--
<script src="/js/productsView.js"></script> --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const addToCartButtons = document.querySelectorAll(".add-to-cart-button");

        addToCartButtons.forEach((button) => {
            button.addEventListener("click", async () => {
                const productId = button.getAttribute("data-product-id");
                const cartId = "{{cartId}}";
                const stock = parseInt(button.getAttribute("data-stock"));
                const userRole = "{{user.role}}"

                if (stock > 0) {
                    try {
                        const response = await fetch(
                            `http://localhost:8080/api/carts/${cartId}/products/${productId}`,
                            {
                                method: "post",
                            }
                        );
                        if (response.status === 200) {
                            alert("Producto agregado al carrito");
                        }
                        if(response.status === 403){
                            alert("No puedes comprar un producto tuyo")
                        }
                    } catch (error) {
                        console.error(error);
                        alert("Error al agregar el producto al carrito");
                    }
                } else {
                    console.log("No hay stock disponible para este producto");
                    alert("No hay stock disponible para este producto");
                }
            });
        });
    });
</script>